---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  main {
    background-color: blanchedalmond;
  }
</style>

<BaseLayout title="Eippik Travels" description="Homepage description...">
  <h1 class="mt-8 text-3xl text-center font-bold">Homepage!</h1>
</BaseLayout>
