---
import Logo from "../images/Logo.astro";
---

<style>
  header {
    box-shadow:
      0px 0.2px 2.2px rgba(0, 0, 0, 0.02),
      0px 0.5px 5.3px rgba(0, 0, 0, 0.028),
      0px 1px 10px rgba(0, 0, 0, 0.035),
      0px 1.8px 17.9px rgba(0, 0, 0, 0.042),
      0px 3.3px 33.4px rgba(0, 0, 0, 0.05),
      0px 8px 80px rgba(0, 0, 0, 0.07);
  }

  #menu-btn {
    --menu-bar-width: 24px;
    --menu-bar-thickness: 3px;
    --menu-bar-gap: 5px;
    --actual-gap: calc(var(--menu-bar-gap) + var(--menu-bar-thickness));
    border: none;
    padding: 1rem 0.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  #bars {
    &,
    &::before,
    &::after {
      position: relative;
      display: block;
      width: var(--menu-bar-width);
      height: var(--menu-bar-thickness);
      background-color: #22232a;
      border-radius: 1000px;
      transition: all ease 300ms;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: var(--actual-gap);
    }

    &::after {
      content: "";
      position: absolute;
      top: var(--actual-gap);
    }
  }

  #bars.open {
    background-color: transparent;

    &::before {
      --transY-distance: var(--actual-gap);
      transform: translateY(var(--transY-distance)) rotate(45deg) scaleX(1.25);
    }

    &::after {
      --transY-distance: calc(-1 * var(--actual-gap));
      transform: translateY(var(--transY-distance)) rotate(-45deg) scaleX(1.25);
    }
  }

  #menu-list a {
    font-size: 1.35rem;

    &.selected {
      color: theme("colors.orange.500");
    }
  }
</style>

<header class="w-screen bg-white">
  <nav
    class="mx-auto p-4 w-[min(100vw,_1000px)] flex flex-wrap justify-between items-center"
  >
    <a href="/">
      <Logo className="h-12 md:h-16" />
    </a>
    <ul
      id="menu-list"
      class="pt-4 sm:pt-0 w-full sm:w-auto order-1 flex gap-4 justify-around sr-only sm:not-sr-only"
    >
      <li><a href="/">Home</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <button
      type="button"
      id="menu-btn"
      class="sm:hidden"
      aria-haspopup="menu"
      aria-label="Open menu"
      aria-expanded="false"
    >
      <div id="bars"></div>
    </button>
  </nav>
</header>

<script>
  const burgerBtn = document.querySelector<HTMLButtonElement>("#menu-btn")!;
  const bars = document.querySelector<HTMLDivElement>("#bars")!;
  const menuList = document.querySelector<HTMLUListElement>("#menu-list")!;

  burgerBtn.addEventListener("click", () => {
    bars.classList.toggle("open");

    const ariaExpanded = burgerBtn.getAttribute("aria-expanded");
    if (ariaExpanded === "false") {
      // Menu is going from CLOSED to OPEN
      burgerBtn.setAttribute("aria-expanded", "true");
      burgerBtn.setAttribute("aria-label", "Close menu");
    } else {
      // Menu is going from OPEN to CLOSED
      burgerBtn.setAttribute("aria-expanded", "false");
      burgerBtn.setAttribute("aria-label", "Open menu");
    }
    /**
     * Logic for showing/hiding
     * mobile menu goes here...
     */
    menuList.classList.toggle("sr-only");
  });
</script>
